<div class="container_big-card">
  <div class="big-card_photo">
    <img src="https://th.bing.com/th/id/R.fd6d90d7dc277e9e40512bdaaaa0f7e8?rik=jWQX0erWbFcHZA&riu=http%3a%2f%2f1.bp.blogspot.com%2f-LA4B2wGW5AA%2fTf5zLqiAmbI%2fAAAAAAAAB88%2fxYdfyFSqiEU%2fs1600%2fpaisagem-de-lago-com-baloes-ao-fundo-imagens-imagem-de-fundo-wallpaper-para-pc-computador-tela-gratis-ambiente-de-trabalho.jpg&ehk=Cbms4NBI%2bMmmxwqKnCqHLkEIt727%2bTLlQcjrHN%2bYuyU%3d&risl=&pid=ImgRaw&r=0"
    height="300px"
    >
  </div>
  <div class="big-card_title">
   <h1><a href="#">Principais temas para comptartilhar</a></h1>
  </div>
  <div class="big-card_description">
    <p>
      <a href="#">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores nisi reprehenderit sunt, cum tempore esse nostrum debitis animi, natus quasi consequuntur laboriosam iste itaque deserunt? A incidunt doloremque non voluptates.
        Novidades e noticias dos principais temas
      </a>
    </p>
  </div>
</div>

